body{
	min-width: 1280px;
	background-color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	font-family: "PT Sans", Arial, sans-serif;
	text-decoration: none;
}

a{
	font-style: bold;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans", Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
/*шапка*/

header{
	position: relative;

}

.container{
	width: 1200px;
	margin: 0 auto; 
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.header ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

 .header li{
	float: left;
	width: 20%;
	text-align: center;
}

.header a{
	display: block;
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
}

li:nth-child(2){
	margin-right: 20%;
}

.logo{
	position: absolute;
	left: 50%;
	top: 0px;
	z-index: 1;
	transform: translateX(-50%);
}

/*панорама*/
 .img-block{
 	position: relative;
 	padding-top: 78px;
 	padding-bottom: 78px;
 	width: 1200px;
 	margin: 0 auto;
 	text-align: center;
 	background: #c6cdd9 url("../img/panorama.jpg") no-repeat;
 	
 } 

.img-block::before{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 57px;
  z-index: 1;
  margin-bottom: 2px; 
  background: url(../img/ramka.png);
}


 /*заголовок информацыи*/

.information {
	width: 1200px;
	text-align: center;
}

.information h2{
	padding-top: 63px; 
	padding-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.information p{
	padding-bottom: 55px;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #333333;	
}
/*основний блок титульна сторінка*/
.cont{
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}

.block1-text{
	float: left;
	width: 400px;
	padding-bottom: 44px;
	padding-top: 44px;
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
	
}

.block1-text h2{
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.block1-text p{
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.block1-img{
	float:left;
	width: 800px;
	height: 256px;
}

.block2{
	text-align: center;
	text-transform: uppercase;
	background-color: #ffffff;
}  

.block2-home{
	float: left;
	width: 400px;
	height: 330px;
}

.block2-home img{
	padding-top: 60px;
	padding-bottom: 30px;
}

.block2-home h2{
	padding-bottom: 22px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.block2-home p{
	padding-bottom: 85px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.block2-food{
	float: left;
	width: 400px;
	height: 330px;
}

.block2-food img{
	padding-top: 60px;
	padding-bottom: 30px;
}

.block2-food h2{
	padding-bottom: 22px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.block2-food p{
	padding-bottom: 85px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.block2-souvenirs{
	float: left;
	width: 400px;
	height: 330px;
}

.block2-souvenirs img{
	padding-top: 60px;
	padding-bottom: 30px;
}

.block2-souvenirs h2{
	padding-bottom: 22px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.block2-souvenirs p{
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.block3-text{
	float: left;
	width: 400px;
	padding-bottom: 44px;
	padding-top: 44px;
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
}

.block3-text h2{
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: #81b3d2;
	color: #ffffff;
}

.block3-text p{
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: #81b3d2;
	color: #ffffff;
}

.block3-img{
	float:left;
	width: 800px;
	height: 256px;	
}

.block4{
	width: 1200px;
	margin: 0 auto;
	padding-top: 47px;
	text-align: center;
	background-color: #eeeeee;
}

.block4-area{
	float: left;
	width: 400px;
}

.block4-road{
	float: left;
	width: 400px;
}

.block4-tourists{
	float: left;
	width: 364px;
}

.block4 p{
	padding-top: 25px;
	padding-bottom: 58px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	color:#333333;
}

.block4 h2{
	padding-bottom: 23px;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

/*блок карта, форма, титулка*/

.inform{
	position: relative;
	width: 1200px;
	margin: 38px auto 0;
	text-align: center;
	text-transform: uppercase;
}

.information2 {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}

.information2 h2{
	padding-top: 36px;
	padding-bottom: 18px;
	font-size: 30px;
	line-height: 24px;
}

.information2 p{
	padding-bottom: 135px;
	font-size: 14px;
	line-height: 24px;
	color:#333333;
}

.map{
	width: 1200px;
	height: 472px;
}

.sedona-form{
	position: absolute;
	left: 317px;
	top: 213px;
    width: 575px;
	background-color: #ffffff;
}

.sedona-form legend{
	width: 575px;
	background-color: #766357;
	padding-top: 28px;
	padding-bottom: 31px;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-align: center;
}

.sedona-form p{
	display: inline-block;
	
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}

p.sedona-data{
	padding-top: 4px;
	padding-bottom: 4px;
}

.sedona-form input{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin-left: 20px;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
}

.sedona-form input[type="date"]{
	width: 306px;
	
}

.sedona-form button{
	width: 460px;
	padding-bottom: 17px;
	padding-top: 17px;
	margin-bottom: 55px;
	margin-top: 35px;
	line-height: 26px;
	font-size: 21px;
	color: #ffffff;
	background-color: #81b3d2;
	
}
/*меню выбора 2 страница*/
.container-menu{
	padding: 0;
	width: 1200px;
	height: 219px;
	margin: 0 auto;
	background: #555555 url(../img/conteiner.jpg) no-repeat 25% 50%;
	padding-bottom: 30px;	
}
.container-menu input{
	margin-right: 15px;
	border: 2px  solid #ffffff;
}

.infrastructure{
	float: left;
	width: 241px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 38px;	
	text-transform: uppercase;
}

.infrastructure h2{
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	padding-left:15px; 
}

.infrastructure p{
	padding-top: 20px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	padding-left: 14px;
}..
.infrastructure [type="checbox"]{
	border: 3px solid #fefefe;
	border-radius: 30%;
}

.hous{
	float: left;
	width: 488px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.hous h2{
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.hous p{
	padding-top: 20px;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
}
	
/*фильтр вторая страница*/
.filter-range{
	padding-top: 20px;
	padding-bottom: 20px;
	float: right;
	width: 330px;
	margin-right: 73px;
	margin-top: 16px;
	color: #ffffff;
	text-transform: uppercase; 
}

.filter-range-title{
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls{
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: solid 2px #ffffff;
	border-radius: 2px; 
}

.price-controls::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	background: #ffffff;
	transform: translete(-50%, -50%);
}

.price-controls label{
	display: inline-block;
    font-size: 14px;
	line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price{
	width: 92px;
	padding-left: 65px;
}

.price-controls input{
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none; 
}

.range-controls{
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale{
	height: 2px;
	background: rgba(255, 255, 255, 0,3);
}

.range-controls .bar{
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0,2); 
	cursor: pointer;
}


.range-toggle-min{
	left:0;
}

.range-toggle-max{
	left: 80%;
}

.btn-transparent{
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	outline: none;
	cursor: pointer;
}

.btn-transparent:hover{
	color: #000000;
	background: #ffffff;
}

/*результати*/
.result{
	clear: both;
	width: 1200px;
	background-color: #fefefe;
	margin: 0 auto;
	text-transform: uppercase;
	padding-top: 35px;
	padding-bottom: 50px;
	border-bottom: 2px solid #e5e5e5;
}

.result-left{
	float: left;
}

.result h3{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
	float: left;
	padding-left: 72px;
	padding-right: 37px;
}

.result p{
	float: left;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-right: 35px;
}

.result span{
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
	padding-right: 30px;
}

.result-left a{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
	color: #d9d9d9;
	border-bottom: 1px dotted #81b3d2;
	margin-right: 30px;
}

.result-right{
	float: right;
	padding-right: 35px;

}

.result-left h3{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.result-left p{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.result-left span{
	display: inline-block;
	vertical-align: middle;
}

.hotel{
	width: 1200px;
	margin: 0 auto;
	text-transform: uppercase;
}

/*блоки отелей*/
.hotel-item{
	background-color: #fefefe;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 2px solid #e5e5e5;
}

.hotel-item-img{
	float: left;
	width: 135px;
	margin-top:30px;
	margin-bottom: 30px;
	padding-left: 72px;
	padding-right: 30px;
}

.hotel-inform{
	float: left;
	width: 267px;
	margin-top: 25px;
}

.hotel-inform h2{
	padding: 0;
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
}

.hotel-inform span{
    float: left;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    padding-right: 36px;
    margin-top: 8px;
}

.hotel-inform.amara{
	padding-right: 30px;
}
.hotel-inform .desert{
	padding-right: 61px;
}

.hotel-inform .villas{
	padding-right: 19px;
}

.hotel-item a{
	float: left;
	margin-right: 7px;
	width: 111px;
	padding-top: 2px;
	border-color: #81b3d2;
}

.rating{
	float: right;
}

.rating img{
	padding-top: 27px;
	margin-bottom: 23px;
}

.rating-amara{
	padding-left: 44px;
}  

.rating-desert{
	padding-left: 87px;
}

.rating-villas{
	padding-left: 65px;
}

.rating p{
	width: 111px;
	padding: 8px 11px 8px 11px;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	text-shadow: 0 0 2px #d3d3d3;
}

.hotel-inform .button-left{
	width: 111px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	background-color: #81b3d2; 
	margin-top: 10px;
}

.hotel-inform .button-right{
	width: 142px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	background-color: #766357; 
	margin-top: 10px;
}

/*подвал*/
.footer{
	width: 1200px;
	margin: 0 auto;
}	

.main-footer{
	width: 1200px;
	height: 125px;
	background-color: #f9fbf6;
	text-align: center;
}

.hesteg{
	width: 400px;
	float: left;
	text-align: center;	
	
}

.hesteg p{
	padding-top: 47px;
	padding-bottom: 51px;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.sprite{
	float: left;
	width: 400px;
	text-align: center;
}

.social-btn{
	display: inline-block;
	margin-top: 36px;
	margin-right: 5px;
	padding-top: 14px;
	vertical-align: middle;
	width: 46px;
	height: 36px;
    background-color: #81b3d2;
}
.sprite-copyright{
	width: 400px;
	text-align: center;
	float: right;
	padding-top: 42px;
	padding-bottom: 40px;
}

