body{
	min-width: 1280px;
	background-color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Times New Roman", Georgia, serif;
	text-decoration: none;
}



a{
	font-style: bold;
	font-size: 14px;
	line-height: 26px;
	font-family: "Times New Roman", Georgia, serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
/*шапка*/
.main-header{
	position: relative;
	background: #ffffff;
	
}

.main-navigation{
	float: left;
	width: 1200px;
	margin: 0 auto;
}

.main-navigation ul {
    margin-left: 65px;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation  li{
	float: left;
	padding-left: 60px;
	font-size: 14px;
	line-height: 26px;
}

.main-navigation ul li:nth-child(2){
	padding-right: 300px;
}

.main-navigation a {
    display: block;
    padding: 15px 25px;
    color: #000000;
    text-decoration: none;
}

.logo{
	position: absolute;
	top: 0;
	left: 600px;
	width: 138px;
	height: 70px;
}

.main-navigation a:hover {
	background: #252323;
}
/*основне меню*/
.panorama{
	width: 1200px;
	height: 714px;
	margin: 0 auto;
	
}

.panorama-img{
	height: 505px;
	margin-bottom: 100px;
}

.information {
	width: 1200px;
	text-align: center;
}

.information h2{
	padding-top: 30px; 
	padding-bottom: 5px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.information p{
	
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #333333;	
}
/*основний блок титульна сторінка*/
.container{
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}

.block1-text{
	float: left;
	width: 400px;
	height: 256px;
	margin-bottom: -25px;
	
	padding-top: 44px;
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
	
}

.block1-text h2{
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.block1-text p{
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.block1-img{
	float:left;
	width: 800px;
	height: 300px;
	margin-bottom: -25px;
	
}

.block2{
	text-align: center;
	text-transform: uppercase;
	background-color: #ffffff;
}  

.block2-home{
	float: left;
	width: 400px;
	height: 330px;
}

.block2-home img{
	padding-top: 60px;
	padding-bottom: 34px;
}

.block2-home h2{
	padding-bottom: 23px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.block2-home p{
	font-size: 14px;
	line-height: 21px;
	color:#333333;
}

.block2-food{
	float: left;
	width: 400px;
	height: 330px;
}

.block2-food img{
	padding-top: 60px;
	padding-bottom: 34px;
}

.block2-food h2{
	padding-bottom: 23px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.block2-food p{
	font-size: 14px;
	line-height: 21px;
	color:#333333;
}

.block2-souvenirs{
	float: left;
	width: 400px;
	height: 330px;
}

.block2-souvenirs img{
	padding-top: 60px;
	padding-bottom: 34px;
}

.block2-souvenirs h2{
	padding-bottom: 23px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.block2-souvenirs p{
	font-size: 14px;
	line-height: 21px;
	color:#333333;
}

.block3-text{
	float: left;
	width: 400px;
	margin-top: 85px;
	padding-bottom: 44px;
	padding-top: 44px;
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
}

.block3-text h2{
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: #81b3d2;
	color: #ffffff;
}

.block3-text p{
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: #81b3d2;
	color: #ffffff;
}

.block3-img{
	float:left;
	width: 800px;
	margin-top: 85px;
}

.block4{
	float: left;
	width: 1200px;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 290px;
	padding-top: 50px;
	text-align: center;
	background-color: #eeeeee;
}

.block4-area{
	float: left;
	width: 400px;
	height: 256px;
}

.block4-road{
	float: left;
	width: 400px;
	height: 256px;
}

.block4-tourists{
	float: left;
	width: 364px;
	height: 256px;
}

.block4 p{
	padding-top: 27px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	color:#333333;
}

.block4 h2{
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

/*блок карта форма титулка*/

.inform{
	margin-top: 38px;
	margin-bottom: 200px;
	width: 1200px;
	height: 764px;
	margin:0 auto;
	text-align: center;
	text-transform: uppercase;
	
}
.information2 {
	position: absolute;
	left: 72px;
	top: 2000px;
	width: 1200px;
	height: 291px;
	margin: 0 auto;
	background-color: #ffffff;
}

.information2 h2{
	padding-top: 50px;
	
	font-size: 30px;
	line-height: 24px;
}

.information2 p{
	font-size: 14px;
	line-height: 24px;
	color:#333333;
}

.map{
	margin-top: 291px;
	margin-bottom: 200px;
	width: 1200px;
	height: 472px;
}

form{
	position: absolute;
	top: 2205px; 
	left: 65px;
	z-index: 10;
    width:575px;
	height: 482px;
	margin-left: 325px;
	background-color: #ffffff;
}
legend{
	width: 575px;
	height: 86px;
	background-color: #766357;
	padding-top: 32px;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-align: center;
}
form p{
	display: inline-block;
	text-align: center;
	padding-top: 28px;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}
input[type="date"]{
	width: 347px;
	height: 37px;
}
input{
	padding-left: 20px;
}

button{
	width: 460px;
	height: 60px;
	background-color: #81b3d2;
	margin-top: 60px;
}
.container-menu{
	position: relative;
	width: 1200px;
	height: 221px;
	margin:0 auto;
	background-image: url(img/conteiner.jpg) no-repeat;
	padding-top: 30px;
	margin-bottom: 0;
	
}
.infrastructure{
	position: absolute;
	left: 73px;
	top: 25px;

	width: 241px;
	height: 218px;
	float: left;
	
	text-transform: uppercase;
}
.infrastructure h3{
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	padding-left: 65px;
}
.infrastructure p{
	padding-top: 30px;
	color: #ffffff;
	padding-left: 65px;
}
.hous{
	position: absolute;
	left: 313px;
	top: 25px;
	width: 488px;
	height: 218px;
	
}
.hous h3{
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}
.hous p{
	padding-top: 30px;
	color: #ffffff;
}
.range{
	position: absolute;
	right: 73px;
	top: 25px;
	width: 400px;
	height: 215px;
	float: right;
	
}
.range h3{
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	padding-left: 72px;
	padding-bottom: 13px;

}
.range input{
	padding-left: 72px;
	padding-bottom: 28px;
}
.range a{
	border:1px solid #ffffff;
	width: 135px;
	height: 35px;
	padding-left: 72px;
}
.result{
	clear: both;
	width: 1200px;
	height: 90px;
	background-color: #fefefe;
	margin: 0 auto;
	text-transform: uppercase;
	padding-top: 35px;
	border-bottom: 2px solid #e5e5e5;

}
.result h3{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
	float: left;
	padding-left: 72px;
	padding-right: 37px;
}
.result p{
	float: left;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-right: 35px;
}
.result span{
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
	padding-right: 30px;
}

.result a{
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-right: 30px;
}
.result-img{
	float: right;
	padding-right: 72px;
}
.hotel{
	width: 1200px;
	height: 450px;
	margin: 0 auto;
	text-transform: uppercase;

}
.hotel-item{
	background-color: #fefefe;
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	border-bottom: 2px solid #e5e5e5;
}
.hotel-item-img{
	float: left;
	width: 135px;
	height: 87px;
	padding-top:30px;
	padding-left: 72px;
	padding-right: 26px;
	padding-bottom: 30px; 
}
.hotel-inform{
	float: left;
	width: 264px;
	height: 150px;
}
.hotel-inform h2{
	
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
}
.hotel-inform span{
    float: left;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    padding-right: 30px;
}

.hotel-item a{
	float: left;
	margin-right: 7px;
	width: 115px;
	height: 25px;
	border: 2px solid;
	border-color: #81b3d2;
}

.rating{
	float: right;
}

.rating img{
	padding-top: 30px;
} 

.rating p{
	padding-top: 47px;
}

.footer{
	position: absolute;
	z-index: 10;
	top: 2750px;
}

.main-footer{
	width: 1200px;
	height: 125px;
	margin-top: 45px;
	background-color: #f9fbf6;
	text-align: center;
	
}
.hesteg{
	width: 400px;
	float: left;
	margin-left: 20px;
	
}
.hesteg p{
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.social-btn-tv{
	width: 45px;
	height: 45px;
	margin-left: 5px;
	background-color: #81b3d2;
	padding-right: 5px;
	float: left;
}

.social-btn-fb{
	width: 45px;
	height: 45px;
	margin-left: 5px;
	background-color: #81b3d2;
	padding-right: 5px;
	float: left;
}

.social-btn-yt{
	width: 45px;
	height: 45px;
	margin-left: 5px;
	background-color: #81b3d2;
	padding-right: 5px;
	float: left;
}

.sprite-copyright {
	float: left;
	margin-left: 255px;
    width: 195px;
    height: 39px;
}

.sprite {
	margin-left: 5px;
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}



.sprite-feisbuk {
    width: 10px;
    height: 19px;
    background-position: -5px -54px;
}

.sprite-twiter {
    width: 17px;
    height: 15px;
    background-position: -5px -83px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -5px -108px;
}
